/* CSS HEX
--eerie-black: #222222;
--xanthic: #f2f230;
--international-orange-engineering: #ba2d0b;
--light-gray: #cccccc;*/

/* Universal Styles */
html {
  font-size: 16px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #cccccc;
  background-color: #222222;
}

h2 {
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}

p {
  line-height: 1.6rem;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: #f2f230;
}

a:hover,
a:active {
  color: #ba2d0b;
}

/* Header Styles */
header {
  color: #f2f230;
  height: 250px;
  background-image: url("../images/bt-banner.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

header div {
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 0 10px 8px #222222 inset; /*blurred edges on background image*/
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
}

nav ul li {
  text-align: center;
  font-weight: bold;
  padding: 8px;
}

/* Main Styles */

main {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 5px 0;
}

section {
  margin: 25px 0;
}

/* Testimony section */
.testimony {
  border: 3px solid #ccc;
  height: 230px;
  padding: 8px;
}

.testimony h4 {
  color: #f2f230;
}

/* Grid Styles */
.grid-container {
  display: grid;
  width: 100%;
  height: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 32px;
}

.col1 {
  align-self: center;
}

.col2-l {
  grid-column-start: 1;
  grid-column-end: 3;
  align-self: center;
}

.col2-r {
  grid-column-start: 3;
  grid-column-end: 5;
  align-self: center;
}

.col4 {
  grid-column-start: 1;
  grid-column-end: 5;
  align-self: center;
}

/* Responsive Styles */

@media only screen and (max-width: 1200px) {
  header {
    background-size: cover;
  }
}

@media only screen and (max-width: 760px) {
  header {
    height: auto;
    background-image: none;
    background-color: #000;
  }

  header div {
    box-shadow: none;
  }

  main {
    width: 100%;
    min-width: 350px;
  }

  .col2-medium-l {
    grid-column-start: 1;
    grid-column-end: 3;
    align-self: center;
  }

  .col2-medium-r {
    grid-column-start: 3;
    grid-column-end: 5;
    align-self: center;
  }
}

@media only screen and (max-width: 400px) {
  html {
    font-size: 14px;
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  img {
    width: 80%;
  }

  nav ul {
    flex-wrap: wrap;
  }

  .testimony {c;
    height: 150px;
  }

  .col2-small-l {
    grid-column-start: 1;
    grid-column-end: 3;
    align-self: center;
  }

  .col2-small-r {
    grid-column-start: 3;
    grid-column-end: 5;
    align-self: center;
  }

  .col4-small {
    grid-column-start: 1;
    grid-column-end: 5;
    align-self: center;
  }

  .hide-small {
    display: none;
  }
}
